<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create A Map</title>
        <!-- LEAFLET CSS LIBRARY -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
        <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
        <!-- LEAFLET JAVASCRIPT LIBRARY -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <script type="text/javascript" src="/scripts/addPoint.js"> </script>
      </head>
<body>
  <header class='header2'>
    <div class='logoTitle'>
        <a href="/"><img id="smallLogo" src="../images/Capture d’écran, le 2020-02-08 à 09.56.57.png", width="50" height="60"></img></a>
        <p>CREATE</p>
    </div>
    <div class='header__spans2'>
         <span id='logged'>LOGGED IN AS</span>
         <a href="/"><span id='createNew'>&#128073HOME</span></a>
    </div>
  </header>
  <div class="instructions">
    <ol class="instructions__list">
      <li>Give your map a nice name.</li>
      <li>Create a point by clicking on the map.</li>
      <li>Add a title, description and image url to your point, using the form below.</li>
      <li>Save your point, and repeat from step 2 if needed.</li>
      <li>Submit your map when you're ready!</li>
    </ol>
  </div>
  <mains class="container">
  <section class="container__map">
    <form action="/create/map" method="POST" class="create__map">
    <header class="container__header">
      <textarea name="title" placeholder="Nice name here" class="create__map__textarea"></textarea>
      <input id="create_map_button"type="submit" value="Submit my map!">
    </header>
        <div id="mymap" class="mymap"></div>
          <footer>
            <div class="hidden create__point">
            <input type="text" name="title" placeholder="Point Title" id="point_title">
            <input type="text" name="address" placeholder="Point Description" id="point_description">
            <input type="url" name="image_url" placeholder="Point Image URL" id="point_image_url">
            <input type="button" id="create_point_button" value="Save my point">
            </div>
          </footer>
        </form>
        <button id="toggleAdd" class="active">Review points</button>
    </section>
  </mains>
</body>
</html>




<!--
</div>
<div class='header__spans'>
<span class='hidden' id='logged'>LOGGED IN AS</span>
<a href="http://localhost:8080/"><span class='hidden' id='createNew'>&#128073HOME</span></a>
</div>
  <form action="/create/map" method="POST" class="create__map">
    <textarea name="title" placeholder="Write your map's name here" class="create__map__textarea"></textarea>
    <div id="mymap"></div>
  <footer>
    <input type="submit" value="Create!">
  </footer>
</form>
-->

<!-- <form action="/create/map" method="POST" class="create__map">
  <header class="map__header">
      <textarea name="title" placeholder="Write your map's name here" class="create__map__textarea"></textarea>
    </header>
<div id="mymap"></div>
      <footer class="map__footer">
          <input type="submit" value="Create!">
      </footer>
    </form> -->
