<!DOCTYPE html>
  <html lang="en">
  <head>
    <title> Profile</title>

    <!--Leaflet CSS File-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <!--Leaflet JS File (Must remain after Leaflet CSS)-->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
    <!-- StyleSheets from index.js example-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!--JS scripts from index.js example-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
      <header class='header2'>
          <div class='logoTitle'>
              <a href="/"><img id="smallLogo" src="../images/Capture d’écran, le 2020-02-08 à 09.56.57.png", width="50" height="60"></img></a>
              <p>PROFILE</p>
          </div>
          <div class='header__spans2'>
               <span id='logged'>LOGGED IN AS</span>
               <a href="/"><span id='createNew'>&#128073HOME</span></a>
          </div>
        </header>
    <main class="user_profile">
      <div class="user_profile__colum_headers">
        <span> <h2>My Favorites</h2> </span>
        <span> <h2>My Contributions</h2> </span>
     </div>
    <!-- Favourites Section -->
    <section class="maps_container">
    <section class="user_favorites">
      <div id="mymap1"></div>
      <script>
      let mymap1 = L.map("mymap1").setView([45.50, -73.56], 11);
      L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=7UYb6bOCvUG7YuJGjcqG', {
      attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      accessToken: 'your.mapbox.access.token'
      }).addTo(mymap1);
      </script>
    </section>
    <!-- Contributions Section-->
    <section class="user_contributions">
        <div id="mymap2"></div>
        <script>
        let mymap2 = L.map("mymap2").setView([45.50, -73.56], 11);
        L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=7UYb6bOCvUG7YuJGjcqG', {
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        accessToken: 'your.mapbox.access.token'
        }).addTo(mymap2);
        </script>
    </section>
  </section>
    <input type="button">Show More</input>
  </main>
  </body>
  </html>


  <!-- <header>
      <span>
        <img src="https://files.slack.com/files-pri/T2G8TE2E5-FTRC8SXM3/capture_d___e__cran__le_2020-02-08_a___09.56.57.png">
        <h1>My Profile</h1>
        <a>Home</a>
        <br>
        <a>Create a Map</a>
     </span>
    </header> -->


    <!-- <header class="map__header">
        <span class="map__header__title">
      <h3>Title of Map</h3>
      </span>
      <span class="map__header__handle">
        @Username
      </span>
    </header>

  <footer class="map__footer">
       <button class="map__footer__modify"></button>
       <button class="map__footer__favorite"> </button  >
    </footer>
  -->
