// See: https://sass-lang.com/

//______________
// BODY STYLING|
//_____________|

body {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

//_____________
// MAPS STYLING|
//____________|

.mymap {
  height: 30em;
  width: 80vw;
}

#mymap {
  height: 30em;
  width: 80vw;
}

//____________________
// INDEX PAGE STYLING|
//___________________|

.header {
    margin-bottom: 5em;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__spans {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

#logged {
  margin-left: 1.5em;
}

#createNew {
font-weight: bold;
font-size: 1.2em;
}

#createNew:hover {
  opacity: 80%;
  cursor: pointer;
  color: rgb(243, 47, 47);
  text-shadow: 0.1em 0.1em #000000;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }

.container__map {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 3em;
}

.map__header {
display: flex;
justify-content: space-between;
}

.map__header__title {
  font-size: 1.4em;
}

.map__footer {
margin-left: auto;
}

.map__footer__modify {
padding:0.35em 1.2em;
border:0.1em solid rgb(0, 0, 0);
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
color:rgb(0, 0, 0);
text-align:center;
}

.map__footer__modify:hover,
.map__footer__modify:focus {
  color: rgb(245, 69, 69);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateX(-0.10em);
  text-shadow: 0.09em 0.09em #000000;
  }


.map__footer__favorite {
  padding:0.35em 1.2em;
  border:0.1em solid rgb(0, 0, 0);
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  text-align:center;
}

  .map__footer__favorite:hover,
  .map__footer__favorite:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateX(-0.10em);
  color: rgb(124, 252, 104);
  text-shadow: 0.09em 0.09em #000000;
}

.create__point{
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.hidden{
  display: none;
}

//_____________________
// CREATE PAGE STYLING|
//____________________|

.map__footer__sumbit {
  margin-left: auto;
}
