// See: https://sass-lang.com/

//_________________________
// BODY AND HEADER STYLING|
//________________________|

body {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

//_____________
// MAPS STYLING|
//_____________|

.mymap {
  height: 30em;
  width: 80vw;
}

#mymap {
  height: 30em;
  width: 80vw;
}


//________________
// HEADER STYLING|
//_______________|

.header {
    margin-bottom: 5em;
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__spans {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

#logged {
  margin-left: 1.5em;
}

#createNew {
font-weight: bold;
font-size: 1.2em;
}

#createNew:hover {
  opacity: 80%;
  cursor: pointer;
  color: rgb(243, 47, 47);
  text-shadow: 0.1em 0.1em #000000;
}

a {
  color: inherit;
  text-decoration: none;
}


//____________________
// INDEX PAGE STYLING|
//___________________|

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }

.container__map {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 3em;
}

.map__header {
display: flex;
justify-content: space-between;
}

.map__header__title {
  font-size: 1.4em;
}

.map__footer {
margin-left: auto;
}

.map__footer__modify {
padding:0.35em 1.2em;
border:0.1em solid rgb(0, 0, 0);
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
color:rgb(0, 0, 0);
text-align:center;
}

.map__footer__modify:hover,
.map__footer__modify:focus {
  color: rgb(245, 69, 69);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateX(-0.10em);
  text-shadow: 0.09em 0.09em #000000;
  cursor: pointer;
  }


.map__footer__favorite {
  padding:0.35em 1.2em;
  border:0.1em solid rgb(0, 0, 0);
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  text-align:center;
}

  .map__footer__favorite:hover,
  .map__footer__favorite:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateX(-0.10em);
  color: rgb(124, 252, 104);
  text-shadow: 0.09em 0.09em #000000;
  cursor: pointer;
}


.hidden{
  display: none;
}

//_____________________
// CREATE PAGE STYLING|
//____________________|

.map__footer__sumbit {
  margin-left: auto;
}

.create__point{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 3em;
  margin-top: 0.5em;
}

.logoTitle {
  display:flex;
  flex-direction: row;
}

p {
  font-size: 4em;
}

.header__spans2 {
  display: flex;
  flex-direction: column;
  margin-top: 5.5em;
}

#smallLogo {
  margin-top: 4.6em;
}

.instructions {
  background-color: black;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: 1.7em;
}

.instructions__list {
  color: white;
  margin-left: 7.5em;
}

.header2 {
  margin-bottom: 0.5em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container__header {
  display: flex;
  justify-content: space-between;
}


#create_point_button {
  padding:0.35em 1.2em;
  border:0.1em solid rgb(0, 0, 0);
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  text-align:center;
}

#create_point_button:hover,
#create_point_button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateX(-0.10em);
  color: rgb(124, 252, 104);
  text-shadow: 0.09em 0.09em #000000;
  cursor: pointer;
}

#create_map_button {
  padding:0.35em 1.2em;
  border:0.1em solid rgb(0, 0, 0);
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  text-align:center;
}

#create_map_button:hover,
#create_map_button:focus {
  color: rgb(245, 69, 69);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateX(-0.10em);
  text-shadow: 0.09em 0.09em #000000;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 0.1em solid black;
}

textarea {
  border: none;
  border-bottom: 0.1em solid black;
}

textarea:focus, input:focus{
  color: rgb(134, 131, 131);
  outline: none;
}

@media screen and (max-width: 1030px) {
.create__point {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
  .mymap {
    height: 50em;
    width: 80vw;
  }
  #mymap {
    height: 50em;
    width: 80vw;
  }
  input {
    margin-bottom: 1em;
  }
}

// Modify Page Styling

.modify__point{
  display: flex;
}
