// See: https://sass-lang.com/

//_________________________
// BODY AND HEADER STYLING|
//________________________|

body {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

//_____________
// MAPS STYLING|
//_____________|

.mymap {
  height: 30rem;
  width: 80vw;
}

.mymap2 {
  height: 15rem;
  width: 40vw;
}




//________________
// HEADER STYLING|
//_______________|

.header {
    margin-bottom: 5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__spans {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

#logged {
  margin-left: 1.5rem;
}

#createNew {
font-weight: bold;
font-size: 1.2rem;
}

#createNew:hover {
  opacity: 80%;
  cursor: pointer;
  color: rgb(243, 47, 47);
  text-shadow: 0.1rem 0.1rem #000000;
}

a {
  color: inherit;
  text-decoration: none;
}


//____________________
// INDEX PAGE STYLING|
//___________________|

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }

.container__map {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 3rem;
}

.map__header {
display: flex;
justify-content: space-between;
}

.map__header__title {
  font-size: 1.4rem;
}

.map__header__title:hover {
  cursor: pointer;
}

.map__footer {
margin-left: auto;
}

.map__footer__modify {
padding:0.35rem 1.2rem;
border:0.1rem solid rgb(0, 0, 0);
margin:0 0.3rem 0.3rem 0;
border-radius:0.12rem;
box-sizing: border-box;
color:rgb(0, 0, 0);
text-align:center;
}

.map__footer__modify:hover,
.map__footer__modify:focus {
  color: rgb(245, 69, 69);
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--hover);
  transform: translateX(-0.10rem);
  text-shadow: 0.09rem 0.09rem #000000;
  cursor: pointer;
  }


.map__footer__favorite {
  padding:0.35rem 1.2rem;
  border:0.1rem solid rgb(0, 0, 0);
  margin:0 0.3rem 0.3rem 0;
  border-radius:0.12rem;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  text-align:center;
}

  .map__footer__favorite:hover,
  .map__footer__favorite:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--hover);
  transform: translateX(-0.10rem);
  color: rgb(124, 252, 104);
  text-shadow: 0.09rem 0.09rem #000000;
  cursor: pointer;
}


.hidden{
  display: none;
}

//_____________________
// STYLING CREATE PAGE|
//____________________|

.map__footer__sumbit {
  margin-left: auto;
}

.create__point{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}

.logoTitle {
  display:flex;
  flex-direction: row;
}

p {
  font-size: 4rem;
}

.header__spans2 {
  display: flex;
  flex-direction: column;
  margin-top: 5.5rem;
}

#smallLogo {
  margin-top: 4.6rem;
}

.instructions {
  background-color: black;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-bottom: 1.7rem;
}

.instructions__list {
  color: white;
  margin-left: 7.5rem;
}

.header2 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container__header {
  display: flex;
  justify-content: space-between;
}

#toggleAdd {
  padding:0.35rem 1.2rem;
  border:0.1rem solid rgb(0, 0, 0);
  margin:0 0.3rem 0.3rem 0;
  border-radius:0.12rem;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  text-align:center;
}

#toggleAdd:hover,
#toggleAdd:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--hover);
  transform: translateX(-0.10rem);
  color: rgb(250, 74, 61);
  text-shadow: 0.09rem 0.09rem #000000;
  cursor: pointer;
}

#create_point_button {
  padding:0.35rem 1.2rem;
  border:0.1rem solid rgb(0, 0, 0);
  margin:0 0.3rem 0.3rem 0;
  border-radius:0.12rem;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  text-align:center;
}

#create_point_button:hover,
#create_point_button:focus {
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--hover);
  transform: translateX(-0.10rem);
  color: rgb(124, 252, 104);
  text-shadow: 0.09rem 0.09rem #000000;
  cursor: pointer;
}

#create_map_button {
  padding:0.35rem 1.2rem;
  border:0.1rem solid rgb(0, 0, 0);
  margin:0 0.3rem 0.3rem 0;
  border-radius:0.12rem;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  text-align:center;
}

#create_map_button:hover,
#create_map_button:focus {
  color: rgb(245, 69, 69);
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--hover);
  transform: translateX(-0.10rem);
  text-shadow: 0.09rem 0.09rem #000000;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 0.1rem solid black;
}

textarea {
  border: none;
  border-bottom: 0.1rem solid black;
}

textarea:focus, input:focus{
  color: rgb(134, 131, 131);
  outline: none;
}

@media screen and (max-width: 1030px) {
.create__point {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
  .mymap {
    height: 50rem;
    width: 80vw;
  }
  #mymap {
    height: 50rem;
    width: 80vw;
  }
  input {
    margin-bottom: 1rem;
  }
}

// Modify Page Styling

.modify__point{
  display: flex;
}
//______________________
// STYLING PROFILE PAGE|
//_____________________|


.user_profile {
  display: flex;
  flex-direction: column;
  margin: 0 5rem ;
}

.maps_container {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.user_profile__colum_headers {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}

.user_favorites {
  width: 50%;

}

.user_contributions {
  width: 50%;

}

.column_maps {
margin: 3rem 1.5rem;
}

.container__map__fav {
  margin: 3rem 0;
  margin-right: 3rem;
}

//______________________
// STYLING MODIFY PAGE|
//_____________________|

.modify__point {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}

#modify_point_button {
  border: 0.1rem solid black;
}

#toggleModify {
  margin-left: 7.5rem;
  padding:0.35rem 1.2rem;
  border:0.1rem solid rgb(0, 0, 0);
  border-radius:0.12rem;
  box-sizing: border-box;
  color:rgb(0, 0, 0);
  text-align:center;
}

#toggleModify:hover,
#toggleModify:focus {
  color: rgb(48, 230, 42);
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--hover);
  transform: translateX(-0.10rem);
  text-shadow: 0.09rem 0.09rem #000000;
  cursor: pointer;
}

@media screen and (max-width: 1030px) {
  .modify__point  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 2rem;
    }
  #toggleModify {
    margin-left: 2rem;
  }
}
